<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.unip.alarmeremedio" >




        <uses-sdk
            android:minSdkVersion="8"
            android:targetSdkVersion="16" />

           
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Alarme.Activity.Tela_CadastroUsuario"
            android:label="@string/title_activity_tela__cadastro_usuario" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.LEVA_DADOS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Alarme.Activity.Tela_escolheImagem"
            android:label="@string/title_activity_tela_escolhe_imagem" >
        </activity>
        <activity
            android:name=".Alarme.Activity.Tela_AutenticacaoUsuario"
            android:label="@string/title_activity_tela__autenticacao_usuario" >
            <intent-filter>
                <action android:name="android.intent.action.LEVA_DADOS" />

                <category android:name="android.intent.category.TELA_LOGIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Alarme.Activity.Tela_logado"
            android:label="@string/title_activity_tela_logado" >
            <intent-filter>
                <action android:name="android.intent.action.LEVA_DADOS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Alarme.Activity.Tela_CadastroMedicamentos"
            android:label="@string/title_activity_tela__cadastro_medicamentos" >
        </activity>
        <activity
            android:name=".Alarme.Activity.Tela_editarUsuario"
            android:label="@string/title_activity_tela_editar_usuario" >
        </activity>
        <activity
            android:name=".Alarme.Activity.Tela_editarMedicamento"
            android:label="@string/title_activity_tela_editar_medicamento" >
        </activity>
        <activity
            android:name=".Alarme.Activity.ListaIdosos"
            android:label="@string/title_activity_lista_idosos" >
        </activity>
        <activity
            android:name=".Alarme.Activity.LitarMedicamentos"
            android:label="@string/title_activity_litar_medicamentos" >
        </activity>
    </application>

</manifest>
